<div id="<%= dom_id ebook %>">
  <p>
    <strong>Title:</strong>
    <%= ebook.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= ebook.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ebook.description %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= ebook.published_date %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= ebook.isbn %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= ebook.genre %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= ebook.pages %>
  </p>

</div>
